:root{ /*VARIAVEIS NA RAIZ DO CSS*/
    --vermelho: #E50914;
    --preto: #141414;
}

*{ /*ZERAR O CSS  *aplica em todo o documento*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*SEMPRE RESPEITAR O TAMANHO DAS CAIXAS*/
}

/* ELEMENTOS PRINCIPAIS */

body{
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* cria espaço entre primeira e segunda tag do container*/
}

header .logo{
    margin-left: 10px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 50px;
}

/* NAVEGAÇÃO */

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color:#FFF;
}

/* FILME PRINCIPAL */

.filme-principal{
    font-size: 20px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/capaLittleWitch.jpg');
    
    height: 400px;
    background-size: cover;/*para a imagem do background ocupar o tamanho que existe na caixa*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 40px;
}

.titulo{
    font-size: 40px;
}