:root{ /*VARIAVEIS NA RAIZ DO CSS*/
    --vermelho: #E50914;
    --preto: #141414;
}

*{ /*ZERAR O CSS  *aplica em todo o documento*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*SEMPRE RESPEITAR O TAMANHO DAS CAIXAS*/
}

body{
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* cria espaço entre primeira e segunda tag do container*/
}

header .logo{
    margin-left: 10px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 50px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color:#FFF;
}